<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <property name="logpattern">%highlight{[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n}
        </property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="${logpattern}"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- default -->
        <Root level="INFO">
            <AppenderRef ref="console"/>
        </Root>
        <!-- for everything from nl.thom.mp -->
        <Logger name="nl.thom.marktplaats" level="DEBUG"/>
<!--        <Logger name="org.hibernate" level="ERROR"/>-->
    </Loggers>
</Configuration>
